@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 220, 220, 220;
  --background-start-rgb: 255, 255, 255;
  
  --profiq-green: #8ec549;
  --profiq-blue: #002c62;
  --profiq-blue-transparent: #002c62c4;
  --profiq-white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 5,5,5;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb)),
    )
    rgb(var(--background-start-rgb));
}
