@tailwind base;

@layer base {
  h2 {
    @apply text-2xl font-bold mb-4;
  }
  h3 {
    @apply text-xl mb-4;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --profiq-green: #8ec549;
  --profiq-green-shaddow: #a3b889;
  --profiq-blue: #002c62;
  --profiq-blue-light: #0160d5;
  --profiq-blue-transparent: #002c62c4;
  --profiq-white: #ffffff;
  --profiq-grey: #e6e6e6;
}
