.header {
  background-color: var(--profiq-blue);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
}
.header * {

  line-height: 80px;
 }

.wrapper {
}

.logo {
  height: 80px;
  width: 143px;
  background-size: 143px 47px !important;
  display: block;
  float: left;
  background: transparent url(/logo.png) left center no-repeat;
}

.logo:hover{
  background: transparent url(/logoHover.png) left center no-repeat;
}

.label{

  color: white;
  font-size: x-large;
}

.label:hover{
  color: var(--profiq-green);
}

.icon svg{
  margin: 5px;
  width: 30px;
  height: 30px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px;
}

.link:hover {
  color: var(--profiq-green);
}
