.button {
  background-color: var(--profiq-green);
  border-radius: 0 4px 4px 0;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--profiq-blue-light);
  /* color: var(--profiq-blue) */
}

.wrapper {
  width: 100%;
  justify-content: center;
  margin-top: 100px;
  
}
