.button {
  background-color: var(--profiq-green);
  border-radius: 0 4px 4px 0;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--profiq-blue);
  /* color: var(--profiq-blue) */
}

.wrapper {
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.checkbox-inner {
  height: 1.25rem;
  /* order: var(--_checkbox-inner-order,1); */
  position: relative;
  width: 1.25rem;
}

.checkbox:checked {
  background-color: var(--profiq-green-shaddow);
  border-color: var(--profiq-green);
  background-size: 1.25rem;
  background-position: center;
}

.checkbox {
  --bs-form-check-bg-image: url("/check.svg");
  flex-shrink: 0;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  background-image: var(--bs-form-check-bg-image);
  background-repeat: no-repeat;
  border: 1px solid #002c623d;
  border-radius: 0.25em;
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease,
    background-position 0.15s ease,
    background-size 0.15s ease;
  background-position-y: bottom;
  background-position-x: center;
  background-size: 0.5rem;
}
